<app-navbar>
  <div id="declareEvent">
    <div *ngIf="eventForm" class="form-container">
      <!-- En-tête du chatbot -->
      <div class="chatbot-header">
    
        <div class="chatbot-info">
          <img src="assets\image\chatbot.png" alt="Chatbot Icon" class="chatbot-icon" /> <!-- Icône du chatbot -->
          <div class = "chatboat-text">
            <span class="chatbot-title">Assistant Virtuel</span>
            <span class="chatbot-status">En ligne</span>
          </div>
        </div>

        <div class="action-buttons"> <p class="requete"> Lancer une requête</p>
          <button mat-icon-button class="action-button" routerLink="/support">
           
            <mat-icon>mark_email_unread</mat-icon> <!-- Icône pour créer une requête -->
          </button>
        </div>
      </div>

       <!-- Corps du chatbot (zone de messages) -->
       <div class="chatbot-body">
        <!-- Message de bienvenue du bot -->
        <div class="chatbot-message chatbot-message-bot">
          <p>Bonjour ! Je suis là pour répondre à vos questions.</p>
          <span class="message-time">10:00</span>
        </div>

        <!-- Exemples de questions -->
        <div class="chatbot-message chatbot-message-bot">
          <p>Voici quelques exemples de questions :</p>
          <ul class="example-questions">
            <li (click)="sendExample('La caméra ne fonctionne pas.')">La caméra ne fonctionne pas.</li>
            <li (click)="sendExample('Je ne vois pas les vaches.')">Je ne vois pas les vaches.</li>
            <li (click)="sendExample('Comment régler les paramètres ?')">Comment régler les paramètres ?</li>
          </ul>
          <span class="message-time">10:01</span>
        </div>

        <!-- Messages dynamiques de l'utilisateur et du bot -->
        <div *ngFor="let message of chatMessages" class="chatbot-message" [ngClass]="{'chatbot-message-bot': message.sender === 'bot', 'chatbot-message-user': message.sender === 'user'}">
          <p>{{ message.text }}</p>
          <span class="message-time">{{ getCurrentTime() }}</span>
        </div>
      </div>

      <!-- Zone de saisie -->
      <div class="chatbot-input-container">
        <input type="text" placeholder="Tapez un message..." [(ngModel)]="userInput" (keyup.enter)="sendMessage()" />
        <button mat-icon-button (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</app-navbar>