<app-navbar>
  <div id="">
    <div  class="form-container">
      <div class="title">Support</div>
      <form>
    <label for="objet">Objet :</label>
    <input type="text" id="objet" name="objet" placeholder="Saisissez l'objet de la requête" required>

    <label for="motif">Motif de Requête :</label>
    <select id="motif" name="motif" required>
        <option value="">-- Choisissez un motif --</option>
        <option value="motif1">Administration</option>
        <option value="motif2">Autre</option>
    </select>

    <label for="type">Type :</label>
    <select id="type" name="type" required>
        <option value="">-- Choisissez un type --</option>
        <option value="type1">Question / Paramétrage</option>
        <option value="type2">Incidents</option>
        <option value="type3">Demande d'évolution</option>
        <option value="type4">Restauration</option>
        <option value="type5">Demande de devis</option>
        <option value="type6">Réclamations</option>
        <option value="type7">Autre</option>
    </select>

    <label for="entite">Entité :</label>
    <input type="text" id="entite" name="entite" placeholder="Rechercher une entité..." list="entites" required>
    <datalist id="entites">
        <option value="Entité 1">
        <option value="Entité 2">
        <option value="Entité 3">
        <option value="Entité 4">
        <option value="Entité 5">
    </datalist>

    <label for="navigateur">Navigateur :</label>
    <select id="navigateur" name="navigateur" required>
        <option value="">-- Choisissez un navigateur --</option>
        <option value="chrome">Google Chrome</option>
        <option value="firefox">Mozilla Firefox</option>
        <option value="safari">Safari</option>
        <option value="edge">Microsoft Edge</option>
        <option value="opera">Opera</option>
        <option value="Autre">Autre</option>
    </select>

    <label for="description">Description de la Requête :</label>
    <textarea id="description" name="description" placeholder="Décrivez votre requête ici..." required></textarea>

    <label> 
      <p>Protection des données</p> 
      <p>J'autorise AgriTech à conserver mes données transmises via ce formulaire et les utiliser dans le cadre des investigations liées à cette demande. Elles seront supprimées une fois votre requête traitée.</p>
      <a>Oui, J'autorise AgriTech</a>
      <input type="checkbox" id="protection" name="protection" required>
    </label>

    <label for="fichier">Joindre des fichiers :</label>
    <input type="file" id="fichier" name="fichier">

    <button type="submit">Soumettre</button>
    <!-- <button type="submit" mat-raised-button color="primary" matStepperNext (click)="onClickConfirmData()"
                            class="validateButton">Soumettre</button> -->
        
      </form>
    </div>
  </div> 
 </app-navbar>
