<app-navbar>
    <div class="container">
        <div class="inner-container">
            <h1 class="titre-camera">Vidéo de surveillance</h1>
            <section>
                <!-- Lien pour le stream de la video -->
                <div class="cam-wrapper">
                    <img src="http:// 192.168.0.94:80/stream" alt="Camera Stream">
                </div>

                <div class="servo-wrapper">
                    <div>
                        <h2>Côté</h2>
                        <button mat-raised-button color="primary" (click)="updateServo(1, 'left')">Left</button>
                        <button mat-raised-button color="primary" (click)="updateServo(1, 'right')">Right</button>
                    </div>
                    <div>
                        <h2>Hauteur</h2>
                        <button mat-raised-button color="primary" (click)="updateServo(2, 'left')">Up</button>
                        <button mat-raised-button color="primary" (click)="updateServo(2, 'right')">Down</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</app-navbar>