.sidenav-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    ::ng-deep {
        .mdc-list-item__primary-text {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white !important;
        }
    }

    .sidenav {
        display: flex;
        flex-direction: column;
        background-color: #7ED957;
        width: 15vw;


        .logo {
            height: 15vh;
            margin-bottom: 10rem;
            display: flex;
            justify-content: center;


            a {
                img {
                    padding: 1rem;
                    width: 100%;
                    justify-content: center;
                    display: flex;
                }

            }

        }

        .container-item {
            height: 65vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .subMenu {
                margin-left: 2em;
            }

            .List-item-active {
                border-left: 4px solid #ffffff; 
                background: linear-gradient(90deg, #4CAF50 0%, #2E8B57 100%); 
                color: white !important;
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2); 
                transition: all 0.3s ease-in-out;
            }
            

            .mat-icon {
                margin-right: 20px;
            }

        }
    }

    .main-content {
        width: 83vw;
        height: 95vh;
        margin-top: 1em;
    }
}