<app-navbar>
    <div class="container">
        <div class="card-container">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Aides pour le secteur agricole</mat-card-title>
                        <mat-card-subtitle>Proposée par economie.gouv.fr </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/actu_1.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Le ministère de l’agriculture propose une plateforme qui regroupe l’ensemble des démarches liées aux
                    activités des exploitations agricoles.

                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.economie.gouv.fr/cedef/dispositifs-et-outils-accompagnement-agriculture#:~:text=Le%20Gouvernement%20a%20annonc%C3%A9%20un,19%20avril%202024%20%C3%A0%2014h00."
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Prévention vaccinale (Startvac®)</mat-card-title>
                        <mat-card-subtitle>Proposée par sngtv </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/actu_2.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Le vaccin Startvac® revendique la prévention des mammites à staphylocoques et à coliformes de la
                    vache laitière.Il contient comme principes actifs une souche inactivée de Staphylococcus aureus,
                    productrice de slime, et la souche inactivée de Escherichia coli J5, qui possède un LPS rough.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www2.sngtv.org/article-bulletin/prevention-vaccinale-startvac-des-mammites-a-staphylocoques-et-a-coliformes-de-la-vache-laitiere/#:~:text=Le%20vaccin%20Startvac%C2%AE%20revendique,qui%20poss%C3%A8de%20un%20LPS%20rough."
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Fédération Nationale des Producteurs de Lait (FNPL)</mat-card-title>
                        <mat-card-subtitle>Proposée par FNPL </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/actu_3.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    rganisation professionnelle représentant les producteurs de lait en France. Elle offre des
                    informations sur la politique laitière, les aides, et les évolutions du marché.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.fnpl.fr/" target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>International Dairy Federation (IDF)</mat-card-title>
                        <mat-card-subtitle>Proposée par IDF </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/actu_4.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Organisation internationale dédiée aux sciences et technologies laitières. Elle propose des
                    ressources sur la qualité du lait, les normes et les innovations.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://fil-idf.org/" target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>GDS France (Groupement de Défense Sanitaire)</mat-card-title>
                        <mat-card-subtitle>Proposée par GDS France</mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/actu_5.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    GDS France coordonne la lutte contre les maladies animales en France et propose des ressources sur
                    la prévention, les vaccinations, et la gestion sanitaire des troupeaux.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.gdsfrance.org/" target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>L’Institut de Recherche et de Développement Agricole (IRDA)</mat-card-title>
                        <mat-card-subtitle>Proposée par IRDA </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/actu_6.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Organisation québécoise offrant des recherches et des innovations pour améliorer les pratiques
                    agricoles, y compris en production laitière.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.irda.qc.ca/fr/" target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>ANSES (Agence nationale de sécurité sanitaire de
                            l'alimentation)</mat-card-title>
                        <mat-card-subtitle>Proposée par Anses </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/actu_7.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Informations sur les maladies, les produits vétérinaires, et les recommandations sanitaires pour les
                    troupeaux de vaches laitières.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.anses.fr/fr" target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Aide aux bovins laitiers (ABL)</mat-card-title>
                        <mat-card-subtitle>Proposée par le ministère de l'agriculture </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/actu_8.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Vous devez déclarer sur le site telepac votre Demande d'Aide aux bovins laitiers (ABL) (formulaire
                    commun aux aides bovines). N'oubliez pas de le signer en ligne. Vous pouvez télédéclarer sur le site
                    telepac des Bordereaux de perte et de localisation des animaux jusqu'à la fin de la période de
                    détention obligatoire.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.telepac.agriculture.gouv.fr/telepac/pdf/taa/2022/ABL-2022_notice.pdf"
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</app-navbar>