<app-navbar>
    <div class="container">
        <div class="card-container">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Prévenir le harcèlement sexuel au travail</mat-card-title>
                        <mat-card-subtitle>Proposée par Cegos </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/formation_1.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Longtemps un tabou, le harcèlement sexuel fait la une de l’actualité sociale. Les victimes abusées
                    osent
                    se manifester et dénoncer des pratiques illégales aux conséquences désastreuses sur leur dignité et
                    leur
                    intégrité...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.cegos.fr/formations/qualite-de-vie-sante-et-bien-etre-au-travail/prevenir-et-faire-face-aux-agissements-sexistes-et-au-harcelement-sexuel-au-travail"
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Lutter contre le harcèlement moral et sexuel</mat-card-title>
                        <mat-card-subtitle>Proposée par M2i Formation </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/formation_2.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Formation délivrée en présentiel ou distanciel* (e-learning, classe virtuelle, présentiel à
                    distance).
                    Le formateur alterne entre méthode** démonstrative, interrogative et active (via des travaux
                    pratiques
                    et/ou des mises en situation)...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.m2iformation.fr/formation-lutter-efficacement-contre-le-harcelement-moral-et-sexuel/RH-HARC/"
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Formation Harcèlement moral et sexuel</mat-card-title>
                        <mat-card-subtitle>Proposée par CNFCE </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/formation_3.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Le harcèlement en entreprise, qu'il soit d'ordre sexuel ou moral, est devenu l'un des facteurs de
                    stress
                    qui doit être traité dans le cadre des RPS (risques psychosociaux). On parle, aujourd'hui, de
                    harcèlement moral, sexuel ou d’agissements sexistes...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.cnfce.com/formation-harcelement-moral-et-sexuel" target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Sexisme et harcèlement sexuel</mat-card-title>
                        <mat-card-subtitle>Proposée par Orsys </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/formation_4.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Les entreprises sont contraintes de mettre en place des actions de prévention contre les agissements
                    sexistes et le harcèlement sexuel. Cette formation vous permettra de mieux appréhender ces
                    situations et
                    d'élaborer un plan de prévention en identifiant les mesures adéquates pour se prémunir de tels
                    comportements...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.orsys.fr/formation-sexisme-et-harcelement-sexuel-prevenir-et-agir.html"
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Prévenir le harcèlement sexuel au travail</mat-card-title>
                        <mat-card-subtitle>Proposée par Cegos </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/formation_1.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Longtemps un tabou, le harcèlement sexuel fait la une de l’actualité sociale. Les victimes abusées
                    osent
                    se manifester et dénoncer des pratiques illégales aux conséquences désastreuses sur leur dignité et
                    leur
                    intégrité...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.cegos.fr/formations/qualite-de-vie-sante-et-bien-etre-au-travail/prevenir-et-faire-face-aux-agissements-sexistes-et-au-harcelement-sexuel-au-travail"
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Lutter contre le harcèlement moral et sexuel</mat-card-title>
                        <mat-card-subtitle>Proposée par M2i Formation </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/formation_2.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Formation délivrée en présentiel ou distanciel* (e-learning, classe virtuelle, présentiel à
                    distance).
                    Le formateur alterne entre méthode** démonstrative, interrogative et active (via des travaux
                    pratiques
                    et/ou des mises en situation)...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.m2iformation.fr/formation-lutter-efficacement-contre-le-harcelement-moral-et-sexuel/RH-HARC/"
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Formation Harcèlement moral et sexuel</mat-card-title>
                        <mat-card-subtitle>Proposée par CNFCE </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/formation_3.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Le harcèlement en entreprise, qu'il soit d'ordre sexuel ou moral, est devenu l'un des facteurs de
                    stress
                    qui doit être traité dans le cadre des RPS (risques psychosociaux). On parle, aujourd'hui, de
                    harcèlement moral, sexuel ou d’agissements sexistes...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.cnfce.com/formation-harcelement-moral-et-sexuel" target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Sexisme et harcèlement sexuel</mat-card-title>
                        <mat-card-subtitle>Proposée par Orsys </mat-card-subtitle>
                        <img mat-card-sm-image src="../../assets/image/formation_4.png">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Les entreprises sont contraintes de mettre en place des actions de prévention contre les agissements
                    sexistes et le harcèlement sexuel. Cette formation vous permettra de mieux appréhender ces
                    situations et
                    d'élaborer un plan de prévention en identifiant les mesures adéquates pour se prémunir de tels
                    comportements...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="action-button">
                        <a href="https://www.orsys.fr/formation-sexisme-et-harcelement-sexuel-prevenir-et-agir.html"
                            target="_blank">
                            En savoir plus</a>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</app-navbar>