@use '@angular/material' as mat;

.container {
    display: flex;
    flex-direction: row;

    mat-stepper {
        // background-color: #981980;
        background-color: #d7e0df ;
        margin: auto;
        width: 60vw;
        height: 85vh;
        overflow: auto;
        @include mat.elevation(5);
        border-radius: 5px;
    }

    .appointment {
        padding: 0.5em;
        flex: 3;

        .card-container {
            display: flex;
            flex-direction: column;

            .card {
                // background-color: lightgrey;
                background-color: #fefefe;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: space-evenly;
                margin-bottom: 1em;
                @include mat.elevation(5);
                padding: 0.5em;

                .title {
                    width: 45%;
                }

                img {
                    width: 5em;
                    height: 5em;
                    border-radius: 50%;
                }

            }
        }
    }

    .disponibilities {
        margin-top: 2em;
        padding: 2em;

        mat-card {
            padding: 2em;
        }

        .mat-mdc-card {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        }


        .validateButton {
            margin: 20px 0 25px 0;
            width: 30%;
            color: white;
        }

    }

    .confirmation {
        font-size: 25px;
        margin-top: 5em !important;
        padding: 5em;
        line-height: 1.5;
    }

}